article {
  background-color: #FFF;
  border-style: outset;
  height: 33em;
}

.article-bottom {
  margin: 1em;
}

.article-top {
  position: relative;
}

body {
  background-color: #E7f0ED;
  color: #5B5941;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.birdy {
  background-image: url(../images/birdy.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.bowie {
  background-image: url(../images/bowie.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.buy-icon {
  height: 3em;
  margin-left: 1em;
  margin-top: 1em;
}

.farm-link {
  background-color: #CACAAA;
  height: 3em;
  padding: 1em;
  word-break: break-all;
}

.fluffy {
  background-image: url(../images/fluffy.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.foal {
  background-image: url(../images/foal.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.greg {
  background-image: url(../images/greg.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 3em;
  grid-column: 1 / -1;
  margin: .5em 0;
}

h3 {
  font-size: 1em;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #668586;
}

.joseph {
  background-image: url(../images/joseph.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.level {
  margin: 10px 0 2px;
}

.level-container {
  color: #C46D5E;
  font-weight: 700;
  position: absolute;
  right: 1em;
  top: 2px;
}

li {
  display: inline;
  margin-right: 1em;
}

.login {
  font-weight: 700; 
  grid-column: span 2;
  justify-self: end;
  margin: 1em;
}

.logo {
  height: 10em;
  justify-self: end;
  width:  25em;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2em;
}

.miriam {
  background-image: url(../images/miriam.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

nav {
  align-self: end;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

.numbers {
  color: #C46D5E;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

.nickname {
  margin-bottom: 0;
}

.ribbons {
  margin-bottom: 0;
}

.seller-farm {
  margin: 0;
}

.show-name {
  margin-top: 0;
}

.squirtle {
  background-image: url(../images/squirtle.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.trades {
  color: #CACAAA;
}

.whimsy {
  background-image: url(../images/whimsy.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}





