body {
  margin: 0;
  display: grid;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

article {
  background-color: #545454;
}

h1 {
  grid-column: 1 / -1;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

li {
  display: inline;
}

.login {
  justify-self: end;
  grid-column: span 2;
}

.logo {
  justify-self: end;
  height: 10em;
  width:  25em;
}